body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-template-rows: 0.25fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "hd"
    "zip"
    "feel"
    "gen"
    "recent";
    gap: 1px;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

/* If screen is wide enough */
@media(min-width: 900px) {
    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.25fr 1fr 1fr;
        grid-template-areas: 
        "hd hd"
        "zip gen"
        "feel recent";
        gap: 1px;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
    }
}

.holder {
    border-radius: 5px;
    background: #f3f3e5;
    padding: 5px;
    margin: 5px;
}

.headline {
    grid-area: hd;
    background: #026120;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.zip {
    grid-area: zip;
    background: #2331f3;
    font-size: 2em;
    font-weight: bold;
}

.gen {
    grid-area: gen;
}

.feel {
    grid-area: feel;
    background: #2331f3;
    font-size: 2em;
    font-weight: bold;
}

.entry {
    grid-area: recent;
    background: rgba(59, 74, 107, .4);
    font-size: 2em;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#entryHolder {
    display: flex;
    flex-direction: column;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

div {
    display: flex;
    flex-direction: column;
    position: relative;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
    color: white;
    text-align: left;
}

input {
    display:block;
    height: 50px;
    width: 220px;
    background:#dadcdd;
    border-radius: 10px;
    color: #0a0a0a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 400px;
    height: 100px;
    border-radius: 25px;
    background: #5a5555;
    color: white;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

button:hover {
    background: #777070;
}

h1 {
    font-size: 36px;
}

textarea {
    background:#d2d4d4;
    color: black;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #b4b3b3;
    font-style: italic; 
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #b4b3b3; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #b4b3b3; 
    font-family: 'Oswald', sans-serif;

} 